
<% if corsair_signed_in? %>
	<ul>
		<li>
			<%= link_to "Sign Out", destroy_corsair_session_path, method: :delete %>
		</li>	
		<li>
			<%= link_to "Setting", edit_corsair_registration_path %>
		</li>
	</ul>
	<h1><%= current_corsair.username %>, tu es bien connecté</h1>
	<p> <%= link_to "Commencer à Gossiper", new_gossip_path %>  </p>

<% else %>
	<ul>
		<li>
			<%= link_to "Sign In", new_corsair_session_path%>
		</li>
		<li>
			<%= link_to "Sign Up", new_corsair_registration_path%>
		</li>
	</ul>
	<h1>Bonjour cher Gossip, connecte toi pour commencer à Gossiper !</h1>
<% end %>
